* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
	
}

body {
	min-height: 1000px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px 0px 0px;
	z-index: 1000;
	transition: 0.6s;
	box-sizing: border-box;
	box-shadow: 0 5px 15px rgba(0, 100, 500, .2);
	background-color: rgba(0, 76, 152, 0.867);
}

header.sticky {
	padding: 5px 40px;
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

header .logo {
	position: relative;
	font-weight: 700;
	color: #004c98;
	background-color: #fff;
	padding: 10px;
	text-decoration: none;
	font-size: 24px;
	letter-spacing: 2px;
	transition: 0.6s;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
	color: #233245;
}

.banner {
	position: relative;
	min-height: 100vh;
	background: url(entt9.png);
	background-size: cover;
	display: flex;
	flex-direction: column;
	/* Pour centrer verticalement le contenu */
	justify-content: center;
	/* Centre horizontalement le contenu */
	padding-left: 150px;
}


.banner .slogan {
	color: #ffffff;
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: justify;
}

.res {
	margin-top: 15px;
}

.rs {
	color: #ffffff;
	font-size: 20px;
	font-weight: lighter;
	text-align: justify;
	text-decoration: none;
	margin: 5px;
}

.début {
	margin-top: 30px;
	padding: 20px 40px;
	/* Ajustez la taille du bouton selon vos besoins */
	border: 1px solid #ffffff;
	border-radius: 20px;
	/* Définit la bordure arrondie */
	background-color: #3498db00;
	/* Couleur de fond du bouton */
	color: #fff;
	/* Couleur du texte du bouton */
	font-size: 24px;
	cursor: pointer;
	background-color: rgb(0, 76, 152);
}

#about {
	text-align: justify;
}

.about {
	background: #fff;
	padding: 100px;
	min-height: 100vh;
	text-align: justify;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titre {
	font-size: 42px;
	font-weight: bold;
	margin: 10px;
	color: #00224f;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.titreservice {
	font-size: 42px;
	font-weight: bold;
	margin: 10px;
	color: #00224f;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.detailsabout {
	text-align: justify;
	font-size: 16px;
	border-bottom: 1px solid #00224f;
	padding-bottom: 20px;
}
.mission {
	text-align: justify;
	font-size: 24px;
}
.vision {
	text-align: justify;
	font-size: 24px;
}
.valeurs{
	text-align: justify;
	font-size: 24px;
}

.sitewebcontent .j {
	color: #00224f;
	font-weight: 900;
}

.mobilecontent .j {
	color: #00224f;
	font-weight: 900;
}

.uiuxcontent .j {
	color: #00224f;
	font-weight: 900;
}

.sec {

	padding: 100px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stats {

	padding: 100px;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.secservices {

	padding: 50px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6ecf2;
}

.secservices .content {

	position: relative;
	text-align: center;
	width: 100%;
}

.sec .content {
	position: relative;
	text-align: center;
	width: 100%;
}
.stats .content {
	position: relative;
	text-align: center;
	width: 100%;
}

.mxw800p {

	
	margin: 0 auto;
}

/**h3 {
	font-size: 42px;
	font-weight: bold;
	margin: 10px;
	color: #00224f;
}**/


.j {
	font-weight: bold;
	position: relative;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-align: justify;
}

p {
	font-weight: bold;
	position: relative;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-align: center;
}

.btn {
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	background: #00224f;
	text-decoration: none;
	color: #fff;
}

.services {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
	grid-gap: 20px;
	max-width: 100%;
	margin-top: 40px;
}

.webbox {
	width: 300px;
	margin: 0 auto;
	background: url(web1.jpg);
	background-size: cover;
	padding: 20px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.mobilebox {
	width: 300px;
	margin: 0 auto;
	background: url(mobile.jpg);
	background-size: cover;
	padding: 20px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.uiuxbox {
	width: 300px;
	margin: 0 auto;
	background: url(uiux.jpg);
	background-size: cover;
	padding: 20px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.titreservice {
	background-color: #00224f;
	color: #ffffff;
	margin-bottom: 30px;
}

.services .box {

	margin: 0 auto;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.services .box .iconBx {
	margin-top: 25px;
}

.services .box .inBx img {
	max-width: 70px;
	margin-bottom: 15px;
}

.icon1 {
	width: 10%;
}

.services .box h2 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 700;
	color: #00224f;
}

.stats {
	background: #00224f;
	padding-top: 10px;
	margin-top: -250px;
}

.stats h3,
.stats p {
	color: #fff;
}

.statsBox {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	max-width: 100%;
	margin-top: 40px;
}

.statsBox h2 {
	color: #fff;
	font-size: 16px;
}

.statsBox h4 {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
}

/**.workBx {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}**/
.workBx
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}

/**.workBx .brand {
	position: relative;
	background: url(capture1.png);
	background-size: cover;
	min-height: 300px;
	width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}**/

.workBx .xdigital
{
	position: relative;
	background: url(xdigital.png);
	background-size: cover;
	min-height: 140px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: #00224f 1px solid;
}
.workBx .babswade-online
{
	position: relative;
	background: url(babswade-online.png);
	background-size: cover;
	min-height: 140px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: #00224f 1px solid;
}
.workBx .csi
{
	position: relative;
	background: url(CSI.png);
	background-size: cover;
	min-height: 140px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: #00224f 1px solid;
}

.workBx #brand:hover {
	background: rgb(0, 34, 79);
}

.workBx #brand a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
	font-size: 14px;
	letter-spacing: 2px;
}

.workBx #brand:hover a {
	color: rgba(255, 255, 255, 1);
}

.teamBx {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}
#team{
	background-color: #00224f1a;
}
.valeurs{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}

.teamBx .member {
	position: relative;
	background: #00224f;
	min-height: 300px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teamBx .member .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.teamBx .member .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.teamBx .member .details {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #00224f;
	transition: 0.2s;
	opacity: 0;
}

.teamBx .member:hover .details {
	opacity: 1;
}

.teamBx .member .details h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;
}

.teamBx .member .details h2 span {

	display: block;
	font-size: 12px;
	font-weight: 300;
}

.contact {
	background: #00224f;
}

.contact h3,
.contact p {
	color: #fff;
}

.contactForm {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
}

.contactForm form {
	width: 100%;
}

.contactForm .row100 {
	display: flex;
	width: 100%;
}

.contactForm .row100 .inputBx50 {
	width: 50%;
	margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
	width: 100%;
	margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea {
	position: relative;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	background: transparent;
	width: 100%;
	padding: 10px 0;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	margin: 20px 0;
	resize: none;
}

.contactForm .row100 textarea {
	height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.contactForm .row100 input[type="submit"] {
	background: #fff;
	color: #233245;
	max-width: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	font-weight: 500;
}

.sci {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 30px 0;

}
.linkedin_bw{
	font-size: 30px;
	height: 60px;
	width: 60px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.li1 {
	font-size: 30px;
	height: 60px;
	width: 60px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.a1 {
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	text-decoration: none;
}
#linkedin_bw {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	text-decoration: none;
}

.a2 {
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	text-decoration: none;
}

.a3 {
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	text-decoration: none;
}

.a4 {
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	text-decoration: none;
}

.sci ul {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.sci ul li .a1 .a2 .a3 .a4 {
	display: flex;
	position: relative;
	list-style: none;
}

.sci ul li .a1 .a2 .a3 .a4 {
	text-decoration: none;
	display: inline-block;
	margin: 0 50px;
}

.copyright a {
	color: #fff;
}

.toggle {
	display: none;
}





@media (max-width: 900px) {

	.services {
		position: relative;
		display: grid;
		grid-template-columns: repeat(1, minmax(300px, 1fr));
		grid-gap: 20px;
		max-width: 100%;
		margin-top: 40px;
	}

	.toggle {
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.toggle:before {
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #233245;
		z-index: 1;
		box-shadow: 0 10px 0 #233245;
		transition: 0.5s;
	}

	.toggle:after {
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #233245;
		z-index: 1;
		transition: 0.5s;

	}

	header,
	header.sticky {
		padding: 5px 50px;
		background: #fff;
	}

	header ul {
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}

	header.active ul {
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
	}

	header.active ul a {
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}

	header .logo,
	header ul li a {
		color: #004c98;
	}

	.banner {
		background-position: center;
	}

	.banner {
		position: relative;
		background-size: cover;
		display: flex;
		flex-direction: column;
		/* Pour centrer verticalement le contenu */
		justify-content: center;
		/* Centre horizontalement le contenu */
		padding-left: 10px;
	}

	.banner .slogan {
		color: #fff;
		font-size: 40px;
		font-weight: bolder;
		text-transform: uppercase;
		text-align: center;
	}

	.rs {
		color: #fff;
		font-size: 14px;
		font-weight: lighter;
		text-align: center;
		text-decoration: none;
	}

	.banner h2 {
		font-size: 40px;
		text-align: center;
	}
	.titre {
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 30px;
		color: #00224f;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.titreservice {
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 30px;
		color: #00224f;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.début {
		padding: 10px 20px;
		/* Ajustez la taille du bouton selon vos besoins */
		border: 1px solid #ffffff;
		border-radius: 20px;
		/* Définit la bordure arrondie */
		background-color: #3498db00;
		/* Couleur de fond du bouton */
		color: #fff;
		/* Couleur du texte du bouton */
		font-size: 15px;
		flex-direction: column;
		/* Pour centrer verticalement le contenu */
		justify-content: center;
		/* Centre horizontalement le contenu */
		cursor: pointer;
		align-items: center;
		background-color: rgba(0, 76, 152, 0.604);
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	.sec {
		padding: 100px 50px 50px 50px;
	}

	.services .box {
		width: 100%;
	}

	.workBx .brand {
		position: relative;
		background: url(capture1.png);
		background-size: cover;
		min-height: 150px;
		width: 300px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.stats {
		padding-top: 250px;
	}

	.row100 {
		flex-direction: column;
	}

	.contactForm .row100.inputBx50,
	.contactForm .row100 .inputBx100 {
		width: 100%;
		margin: 0;
	}

	.sci {
		margin: 40px;
	}

	.sci ul li .a1 {
		font-size: 40px;
	}

	h3 {
		font-size: 36px;
	}
}

.u:hover {
	background: #fff;
	color: #004c98;
	box-shadow: 0 0 200px #fff;

}

.u {
	padding: 3px;
	font-weight: bold;
}

.a1:hover {
	background: #fff;
	padding: 3px;
	color: blue;
	

}

.a2:hover {
	background: #fff;
	padding: 3px;
	color: skyblue;
	

}

.a3:hover {
	background: #fff;
	padding: 3px;
	color: hotpink;
	

}

.a4:hover {
	background: #fff;
	padding: 3px;
	
	color: red;
	

}

h1 {
	color: white;
}

.ap {
	color: #fff;
	background-color: #233245;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 5px 15px;
}

.ap:hover {
	text-decoration: underline;
}

.btn:hover {
	text-decoration: underline;
}

.bw {
	text-decoration: none;
}

.bw:hover {
	text-decoration: underline;
}