
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html
{
	scroll-behavior: smooth;
}
	
body
{
	min-height: 1000px;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	z-index: 1000;
	transition: 0.6s;
	box-sizing: border-box;
	box-shadow: 0 5px 15px rgba(0,100,500,.2);
}
header.sticky
{
	padding: 5px 40px;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
header .logo
{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
	color: #000;
}
.banner
{
	position: relative;
	min-height: 100vh;
	background: url(entt1.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
	
}
.banner h2
{
	color: #fff;
	font-size: 50px;
	text-transform: uppercase;
	text-align: justify;
	height: 1px;
}
.banner h2 span
{
	color: #000;
}
.sec
{
	background: #fff;
	padding: 100px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec .content
{
	position: relative;
	text-align: center;
	width: 100%;
}
.mxw800p
{
	max-width: 800px;
	margin: 0 auto;
}
h3
{
	font-size: 40px;
	font-weight: 200;
	margin: 10px;
	color: #0000ff;
}
.j{
	font-weight: bold;
	position: relative;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-align: justify;
}
p
{
	font-weight: bold;
	position: relative;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-align: center;
}
.btn
{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	background: #000;
	text-decoration: none;
	color: #fff;
}
.services
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}
.services .box
{
	width: 300px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}
.services .box .iconBx
{
	margin-top: 25px;
}
.services .box .inBx img
{ 
	max-width: 70px;
	margin-bottom: 15px;
}
.services .box h2
{
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.stats
{
	background: #000;
	padding-top: 250px;
	margin-top: -250px;
}
.stats h3,
.stats p
{
	color: #fff;
}
.statsBox
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	max-width: 100%;
	margin-top: 40px;
}
.statsBox h2
{
	color: #fff;
	font-size: 36px;
}
.statsBox h4
{
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.workBx
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}
.workBx .brand
{
	position: relative;
	background: #4978ff;
	min-height: 300px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.workBx .brand:hover
{
	background: #000;
}
.workBx .brand a
{
	text-decoration: none;
	color: rgba(255,255,255,0.4);
	font-size: 14px;
	letter-spacing: 2px;
}
.workBx .brand:hover a
{
	color: rgba(255,255,255,1);
}
.teamBx
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}   
.teamBx .member
{
	position: relative;
	background: #000;
	min-height: 300px;
	width: 250px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.teamBx .member .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.teamBx .member .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.teamBx .member .details
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	transition: 0.2s;
	opacity: 0;
}
.teamBx .member:hover .details
{
	opacity: 1;
}
.teamBx .member .details h2
{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing; 1px;
}
.teamBx .member .details h2 span
{
	
	display: block;
	font-size: 12px;
	font-weight: 300;
}
.contact
{
	background: #000;
}
.contact h3,
.contact p
{
	color: #fff;
}
.contactForm
{
		position: relative;
		max-width: 800px;
		margin: 0 auto;
		display: flex;
}
.contactForm form
{
	width: 100%;
}
.contactForm .row100
{
	display: flex;
	width: 100%;
}
.contactForm .row100 .inputBx50
{
	width: 50%;
	margin: 0 20px;
}
.contactForm .row100 .inputBx100
{
	width: 100%;
	margin: 0 20px;
}
 .contactForm .row100 input,
  .contactForm .row100 textarea
{
	position: relative;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	background: transparent;
	width: 100%;
	padding: 10px 0;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	margin: 20px 0;
	resize: none;
}
.contactForm .row100 textarea
{ 
	height: 100px;
}
.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder
{
	color: rgba(255,255,255,0.5);
}
.contactForm .row100 input[type="submit"]
{
	background: #fff;
	color: #000;
	max-width: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	font-weight: 500;
}
.sci
{
	position: relative;
	display: flex;
	justify-content: center;
	margin: 30px 0;
	
}
.li1
{
	font-size: 30px;
	height: 60px;
	width: 60px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.a1
{
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	text-decoration: none;
}
.a2
{
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	text-decoration: none;
}
.a3
{
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	text-decoration: none;
}
.a4
{
	color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	text-decoration: none;
}
.sci ul
{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
.sci ul li .a1 .a2 .a3 .a4
{
	display: flex;
	position: relative;
	list-style: none;
}
.sci ul li .a1 .a2 .a3 .a4
{
	text-decoration: none;
	display: inline-block;
	margin: 0 50px;
}
.sci ul li .a1:hover
{

}
.copyright a
{ 
	color: #fff;
}
.toggle
{
	display: none;
}
@media (max-width: 414px)
{
	.toggle
	{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.toggle:before
	{
	content: '';
	position: absolute;
	top: 4px;
	width: 100%;
	height: 2px;
	background: #000;
	z-index: 1;
	box-shadow: 0 10px 0 #000;
	transition: 0.5s;
	}
	.toggle:after
	{
	content: '';
	position: absolute;
	bottom: 4px;
	width: 100%;
	height: 2px;
	background: #000;
	z-index: 1;
	transition: 0.5s;
	
	}
	header,
	header.sticky
	{
		padding: 5px 50px;
		background: #fff;
	}
	header ul
	{
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}
	header.active ul
	{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
	}
	header.active ul a
	{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}
	header .logo,
	header ul li a
	{
		color: #000;
	}
	.banner
	{
		background-position: center;
	}
	.banner h2
	{
		font-size: 40px;

		text-align: center;
	}
	.sec
	{
		padding: 100px 50px 50px 50px;
	}
	.services .box
	{
		width: 100%;
	}
	.stats
	{
		padding-top: 250px;
	}
	.row100
	{
		flex-direction: column;
	}
	.contactForm .row100.inputBx50,
	.contactForm .row100 .inputBx100
	{
		width: 100%;
		margin: 0;
	}
	.sci
	{
		margin: 40px;
	}
	.sci ul li .a1
	{
		font-size: 40px;
	}
	h3
	{
		font-size: 36px;
	}
}
.u:hover
{
	background: #fff;
	color: #000;
	box-shadow: 0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,	
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 200px #fff;
				
}
.u
{
	padding: 3px;
	font-weight: bold;
}
.a1:hover
{
	background: #fff;
	padding: 3px;
	border-radius: 100%;
	color: blue;
	box-shadow: 0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,	
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 200px #fff;
				
}
.a2:hover
{
	background: #fff;
	padding: 3px;
	border-radius: 100%;
	color: skyblue;
	box-shadow: 0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,	
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 200px #fff;
				
}
.a3:hover
{
	background: #fff;
	padding: 3px;
	border-radius: 100%;
	color: hotpink;
	box-shadow: 0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,	
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 200px #fff;
				
}
.a4:hover
{
	background: #fff;
	padding: 3px;
	border-radius: 100%;
	color: red;
	box-shadow: 0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,	
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 200px #fff;
				
}
h1
{
	color: white;
}
.ap{
	color: #fff;
	background-color: #000;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 5px 15px;
}
.ap:hover
{
	text-decoration: underline;
}
.btn:hover
{
	text-decoration: underline;
}
.bw
{
	text-decoration: none;
}
.bw:hover
{
	text-decoration: underline;
}